<launch>
    <arg name="sim" default="false"/>


    <rosparam command="load" file="$(find bitbots_vision_tools)/config/color_space_finder_config.yaml" />
    <node pkg="bitbots_vision_tools" type="color_space_finder.py" name="bitbots_vision_color_space_finder" output="screen">
    </node>

    <!-- start the camera only when necessary -->
    <group unless="$(arg sim)">
        <include file="$(find wolves_image_provider)/launch/image_provider.launch" />
    </group>

    <!-- remap stuff to fit the robot -->
    <group if="$(arg sim)">
        <param name="use_sim_time" value="true" />
        <remap to ="/camera/image_raw" from="/image_raw" />
    </group>
</launch>
